<!DOCTYPE html>
<html lang="es"> <head>
    <meta charset="UTF-8"> <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Panel Droguería</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>

    <h1>Panel Droguería</h1>

    <div class="dashboard">
        <div class="card">
            <h3>Total productos</h3>
            <h2 id="totalProductos">0</h2>
        </div>

        <div class="card">
            <h3>Vencen pronto</h3>
            <h2 id="vencen">0</h2>
        </div>

        <div class="card">
            <h3>Stock bajo</h3>
            <h2 id="stockBajo">0</h2>
        </div>

        <div class="card orange">
            <h3>Cumpleaños próximos</h3>
            <h2 id="cumples">0</h2>
        </div>
    </div>

    <div class="panel">
        <div class="box">
            <h3>Productos que vencen pronto</h3>
            <ul id="listaVencimientos"></ul>
        </div>

        <div class="box">
            <h3>Alertas</h3>
            <ul id="alertas"></ul>
        </div>
    </div>

    <br>

    <div class="box"> <h3>Análisis por mes</h3>
        <div class="analisis-grid" id="analisisPanel">
            </div>
    </div> <script src="/app.js"></script>
</body>
</html>