<!DOCTYPE html>
<html>

<head>
<title>Productos</title>
<link rel="stylesheet" href="/style.css">
</head>

<body>

<h1>Cargar Producto</h1>

<form id="formProducto">

<input type="text" placeholder="Nombre producto" id="nombre" required>

<input type="text" placeholder="Lote" id="lote" required>

<input type="text" placeholder="Marca" id="marca" required>

<input type="date" id="vencimiento" required>

<input type="number" placeholder="Stock" id="stock" required>

<button type="submit">Guardar</button>

</form>


<h2>Productos cargados</h2>

<input type="text" id="buscador" placeholder="Buscar producto o marca...">

<table id="tablaProductos" border="1">

<thead>
<tr>
<th>Producto</th>
<th>Lote</th>
<th>Marca</th>
<th>Vencimiento</th>
<th>Stock</th>
</tr>
</thead>

<tbody>
</tbody>

</table>

<script>

let listaProductos = []

document.getElementById("formProducto").addEventListener("submit", async (e)=>{

e.preventDefault()

const data = {
nombre: document.getElementById("nombre").value,
marca: document.getElementById("marca").value,
lote: document.getElementById("lote").value,
vencimiento: document.getElementById("vencimiento").value,
stock: document.getElementById("stock").value
}

await fetch("/productos",{
method:"POST",
headers:{
"Content-Type":"application/json"
},
body:JSON.stringify(data)
})

alert("Producto guardado")

cargarProductos()

})


async function cargarProductos(){

const res = await fetch("/api/productos")

listaProductos = await res.json()

mostrarProductos(listaProductos)

}
function diasParaVencer(fecha){

const hoy = new Date()
const venc = new Date(fecha)

const diferencia = venc - hoy

return Math.floor(diferencia / (1000 * 60 * 60 * 24))

}


function mostrarProductos(productos){

const tbody = document.querySelector("#tablaProductos tbody")

tbody.innerHTML = ""

productos.forEach(p=>{

const dias = diasParaVencer(p.vencimiento)

let color = ""

if(dias <= 30){
color = "#ffb3b3"
}
else if(dias <= 90){
color = "#ffe0b3"
}
else{
color = "#d4edda"
}

tbody.innerHTML += `
<tr style="background:${color}">
<td>${p.nombre}</td>
<td>${p.lote}</td>
<td>${p.marca}</td>
<td>${p.vencimiento}</td>
<td>${p.stock}</td>
</tr>
`

})

}


document.getElementById("buscador").addEventListener("keyup",(e)=>{

const texto = e.target.value.toLowerCase()

const filtrados = listaProductos.filter(p =>

p.nombre.toLowerCase().includes(texto) ||
p.marca.toLowerCase().includes(texto)

)

mostrarProductos(filtrados)

})


cargarProductos()

</script>

</body>
</html>